<div class="container">
    <h1>Settings</h1>
    <p>Control how the blockchain behaves when new transactions or blocks are created. Changes are automatically saved.</p>
  
    <br>
  
    <div class="form-group">
      <label>Difficulty</label>
      <input type="number" class="form-control" [(ngModel)]="blockchain.difficulty">
    </div>
  
    <br>
  
    <div class="form-group">
      <label>Mining reward</label>
      <input type="number" class="form-control" [(ngModel)]="blockchain.miningReward">
    </div>
  
  </div>