<div class="container" style="overflow-x: scroll;white-space: nowrap;">
    <h1>Blocks on chain</h1>
    <p>Each card presents a block on the chain. Click on a block to see the transactions stored inside.</p>
    <button routerLink="/transaction-history" class="btn btn-dark">View transaction history</button>

    <div id="transaction-table">
        <app-block-view *ngFor="let block of blocks" [block]="block" (click)="showTransactions(block)">
        
        </app-block-view>
    </div>
</div>

<br><br>

<div class="container">
    <h1>Transactions inside block</h1>
    <app-transactions-table [transactions]="selectedBlock.transactions">
    </app-transactions-table>
</div>