<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">
    &nbsp;MyCoin
  </a>
  
  <div>
    <button [routerLink]="['/wallet', myAddress]" class="btn btn-outline-light">Access My Wallet</button>
    &nbsp;
    <button routerLink="/new/transaction" class="btn btn-outline-light">Create transaction</button>
    &nbsp;
    <button routerLink="/new/transaction/pending" class="btn btn-outline-light">Pending transactions</button>
    &nbsp;
  </div>
</nav>
<router-outlet></router-outlet>
